spring:
  application:
    name: openapi-server
  jackson:
    default-property-inclusion: non_null
server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: health,info
